
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/index.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="Cena">
    <!-- navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Cena</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">My Recipies</a></li>
            <li><a href="#contact">My List</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <!-- recipes -->
    <div class="container recipes" style="display:none;">

      <div class="jumbotron">
        <div class="pull-right">
          <input type="text" class="form-control search-recipes" placeholder="Search Recipes"/>
        </div>
        <h1>My Recipes</h1>
        <p>All of your recipes, from the stews to the tacos. Pick one (or multiple!) to add to your shopping list.</p>
      </div>


      <div class="panel panel-default">
        <ul class="list-group">
          <li class="list-group-item">
            <img src="http://www.wegmans.com/prodimg/203/200/033383650203.jpg"/>
          </li>
        </ul>
      </div>



    </div><!-- /.container -->


    <!-- list -->
    <div class="container list" ng-controller="listCtrl as lC">

      <!-- the header -->
      <div class="jumbotron">
        <div class="pull-right">
          <input type="text"
            class="form-control search-list"
            placeholder="Search List"
            ng-model="listSearchString"
           />
        </div>
        <h1>My List</h1>
        <p>A collection of all the items that you need to buy, both from the planned meals and other items.</p>
        <input type="text"
          class="form-control addto-list"
          placeholder="Paste in a url of some food, or just type its name"
          ng-paste="lC.delayAddItem()"
         />
      </div>

      <!-- list of all items -->
      <div class="panel panel-default">
        <div class="panel-body" ng-show="lC.items.length == 0">
          <h2>No Items</h2>
          <p>Add some items to your list above</p>
        </div>
        <ul class="list-group list">

          <li ng-repeat="item in lC.items" ng-show="item.shown" class="list-group-item food-item">
            <img src="{{ item.imageUrl }}"/>
            <h3>
              {{ item.name }}
              <span class="small">{{ item.storeName }}</span>
            </h3>

            <div class="quantity-price">
              <input type="number" class="form-control quantity" placeholder="Amt" ng-model="item.quantity" ng-change="lC.pushList()"/>
              <input type="number" class="form-control currency" min="0" max="9999"
                step="0.01" size="4" placeholder="Price" ng-model="item.price" ng-change="lC.pushList()"/>
            </div>

            <button type="button" class="close pull-right" ng-click="lC.removeItem($index)">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>

          </li>

        </ul>

        <!-- the total price, etc -->
        <div class="panel-body price" ng-show="lC.items.length !== 0">
          <div class="pricebox pull-right">
            <span class="final-price"></span>
          </div>
        </div>
      </div>

    </div><!-- /.container -->




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/underscore.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
