// out: index.css
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import "../bootstrap/less/bootstrap.less";


body {
  height: 100%;
  padding-top: 50px;
  overflow-y: scroll;
}

.jumbotron {
  margin-top: 40px;
}

.toolbar button {
  margin: 0px 4px;
}

// grocery list item
.food-item {
  height: 84px;
  position: relative;
  list-style-type: none;

  img {
    left: 15px;
    top: 10px;
    position: absolute;
    width: 64px;
  }

  h3 {
    left: 96px;
    top: 10px;
    position: absolute;
    margin-left: 16px;

    .small {
      margin-left: 10px;
    }
  }

  button.close {
    height: 100%;
    font-size: @font-size-base * 2.2;
    margin-right: 8px;
  }

  div.quantity-price {
    position: absolute;
    top: 10px;
    right: 50px;
    width: 250px;
    margin-left: 16px;

    .quantity {
      width: 75px;
      float: left;
    }

    .currency {
      float: right;
      width: 150px;
    }

    .tag {
      border: 0px;
      width: 100%;
      padding: 6px 12px;
    }
  }
}


// the final price
div.panel-body.price {
  position: relative;
  height: 48px;

  div.pricebox {
    position: absolute;
    top: 10px;
    right: 50px;

    font-size: @font-size-base * 1.6;

    span:before {
      content: "Subtotal: ";
    }
  }
}

// recipes
.recipe-ingr {
  margin-top: 10px;
}

// grocery list item
.list-group-item.recipe-item {
  height: 84px;
  position: relative;

  h3 {
    left: 15px;
    top: 10px;
    position: absolute;
    margin-left: 16px;

    .small {
      margin-left: 10px;
    }
  }

  button {
    // font-size: @font-size-base * 2.2;
    margin-right: 16px;
    margin-top: 16px;
  }

  button.close {
    font-size: @font-size-base * 2.2;
    margin-right: 8px;
  }
}

.recipe-ingredients {
  margin-top: 20px;
}

// printable grocery list
div.printable-list {
  width: 100%;
  height: 100%;
  display: none;

  padding: 20px;

  h1 small {
    margin-left: 32px;
  }

  ul {
    list-style-type: none;
    padding-left: 10px;

    li {
      font-size: @font-size-base * 0.95;

      span.price {
        font-weight: 600;
        margin-right: 16px;
        &:before {content: "$";}
      }

      span.qty {
        color: red;
        &:before {content: "(";}
        &:after {content: ")";}
      }
    }
    &:last-child li:last-child {
      margin-top: 10px;
      border-top: 1px solid #000;
      padding-top: 5px;
      span.final-price {
        font-weight: 600;
        &:before {
          content: "Total: ";
          margin-left: -2em;
          font-weight: normal;
        }
      }
    }
  }
}

// show list when printing
@media print {
  body {
    padding-top: 0px;
  }
  div.printable-list {
    display: block;
  }
  .panel, .navbar, .jumbotron {
    display: none;
  }
}
